name: couldai_user_app
description: "IoT Dashboard App with drag-and-drop widgets for real-time data visualization and control."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  fl_chart: ^0.68.0
  provider: ^6.1.1
  uuid: ^4.2.1

flutter:
  uses-material-design: true

  assets:
    - assets/

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
